Source: cdbs
Section: devel
Priority: optional
Maintainer: CDBS Hackers <build-common-hackers@lists.alioth.debian.org>
Build-Depends-Indep: devscripts,
 debhelper,
 dh-buildinfo,
 realpath,
 fakeroot,
 python-dev,
 python-all-dev,
 python3-all-dev,
 python-central,
 python-support,
 ant,
 default-jdk,
 sharutils,
 lzma,
 devscripts (>= 2.10.7)
Uploaders: Jonas Smedegaard <dr@jones.dk>,
 Marc Dequènes (Duck) <Duck@DuckCorp.org>,
 Rémi Thebault (RTbo) <remi.thebault@gmail.com>,
 Peter Eisentraut <petere@debian.org>
Standards-Version: 3.9.3
Vcs-Git: git://git.debian.org/git/collab-maint/cdbs.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/cdbs.git;a=summary

Package: cdbs
Architecture: all
Multi-Arch: foreign
Recommends: autotools-dev
Suggests: devscripts
Description: common build system for Debian packages
 This package contains the Common Debian Build System, an abstract build
 system based on Makefile inheritance which is completely extensible and
 overridable.  In other words, CDBS provides a sane set of default rules
 upon which packages can build; any or all rules may be overridden as
 needed.
